@use '../../assets/variables.scss' as *;

#content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

img {
  border-radius: 50%;
  width: 80%;
  padding: 1rem;
}

h2 {
  color: $secondary-text;
  font-size: 2.5rem;
}

nav {
  display: flex;
  flex-direction: column;
  width: 100%;
}

button.text-btn {
  width: 100%;
  font-size: 2.5rem;
  padding: 0.5rem 1rem;
  background: rgba(0,0,0,0.1);
  border-radius: 0;

  &:hover {
    background: rgba(0,0,0,0.2);
    color: $secondary-text;
  }
}

#logout {
  margin-top: auto;
}
