<div id="content">
  <ng-container *ngIf="(authService.user$ | async) !== undefined; else loading">
    <ng-container *ngIf="authService.isLoggedIn(); else login;">
      <div class="img-wrapper" (click)="goToProfile()" style="cursor: pointer;">
        <img [src]="avatarUrl" alt="User Avatar">
      </div>

      <h2>{{ authService.getUsername() }}</h2>
      <nav>
        <button class="side-btn" routerLink="translate" routerLinkActive="active">Translator</button>
        <button class="side-btn" routerLink="texts" routerLinkActive="active">Texts</button>
        <button class="side-btn" routerLink="tests" routerLinkActive="active">Tests</button>
      </nav>
      <button id="logout" (click)="onLogout()" class="material-icons text-btn">logout</button>
    </ng-container>
  </ng-container>

  <ng-template #loading>
    <div class="spinner"></div>
  </ng-template>

  <ng-template #login>
    <button class="side-btn" routerLink="translate" routerLinkActive="active">Translator</button>
    <h2 id="ad">Linguini EDU</h2>
    <p>Почни вивчати англійську мову прямо зараз із допомогою Linguini EDU!</p>
    <button id="login" class="side-btn" routerLink="auth" routerLinkActive="active">Вхід/Реєстрація</button>
  </ng-template>
</div>
