<div id="content">
  <ng-container *ngIf="authService.isLoggedIn(); else login;">
    <img src="assets/avatars/placeholder.jpg" alt="">
    <h2>{{ authService.getUsername() }}</h2>
    <nav>
      <button class="text-btn" routerLink="translate">Translator</button>
      <button class="text-btn">Texts</button>
      <button class="text-btn">Tests</button>
    </nav>
    <button id="logout" (click)="authService.logout()" class="material-icons text-btn">logout</button>
  </ng-container>
  <ng-template #login>
    <h2>Linguini EDU</h2>
    <p>Почни вивчати англійську мову прямо зараз із допомогою Linguini EDU!</p>
    <button class="material-icons text-btn" routerLink="auth">login</button>
  </ng-template>
</div>

