@use '../../assets/variables' as *;

.avatar-preview {
  position: relative;
  width: 20rem;
  height: 20rem;
  margin: 1.5rem auto;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.avatar-preview .layer {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.avatar-category-buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 1rem 0;
  border-bottom: 3px solid $primary-accent;
  width: 100%;

  button {
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-size: 1.5rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    &.active {
      background-color: $primary-accent;
      color: $secondary-text;
    }
  }
}

.avatar-options {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  width: 100%;
  flex: 1;

  img.profile-avatar-option {
    width: 24%;
    margin-right: 1%;
    margin-bottom: 1%;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    cursor: pointer;
    transition: box-shadow 0.1s ease-in;
    border: 2px solid $primary-text;

    &:hover {
      box-shadow: 0 0 20px -10px $primary-text;
    }
  }
}

.edit-avatar {
  display: flex;
  flex-direction: row;
  align-items: start;
  input {
    width: 15rem;
    font-size: 1.5rem ;
    text-align: center;
  }
  padding: 1rem 2rem;
}

.avatar-show {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.shop {
  margin-left: 24rem;
  width: 100%;
}


.save-button {
  font-size: 1.5rem;
  margin-top: 1rem;
}
