<div class="edit-avatar">
  <div class="avatar-show">
    <div class="avatar-preview">
      <img *ngFor="let part of userService.avatar(); let i = index" [src]="editedAvatar[i] || part" class="layer background" alt="">
    </div>
    <input [defaultValue]="userService.username() || ''" [(ngModel)]="editedUsername"  class="input-text" />
    <button class="accent-btn save-button" (click)="saveChanges()">Save changes</button>
  </div>
  <div class="shop">
    <div class="avatar-category-buttons">
      <button *ngFor="let button of buttons; let i = index"
              [class.active]="selectedPart() === i"
              (click)="selectedPart.set(i)"
              class="text-btn">
        {{ button }}
      </button>
    </div>

    <div class="avatar-options">
      <ng-container *ngIf="options() as options">
        <ng-container *ngFor="let option of options | async">
          <img
            [src]="option"
            (click)="select(option)"
            class="profile-avatar-option" alt="">
          <p [class.visible]="!userService.unlocks().includes(option)">10 <img src="assets/prizes/coin.PNG" alt=""></p>
        </ng-container>

      </ng-container>
    </div>
  </div>
</div>
