@use "sass:color";
@use "./assets/variables.scss" as *;

* {
  @extend .text-regular;
  background: transparent;
  margin: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  @extend .title-regular;
}

body, html, app-root {
  background-color: $secondary-basic;
}

app-root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.round-border {
  border-radius: 5px;
}

.float-panel {
  @extend .round-border;
  box-shadow: $primary-text 0 10px 15px -15px;
  padding: 1rem;
}

$trans: transparent;

@mixin button-style($color, $text-color) {
  @extend .round-border;
  background-color: $color;
  color: $text-color;

  transition: background-color 0.1s ease-in, color 0.1s ease-in;

  &:hover {
    @if $color == $trans {
      color: color.adjust($text-color, $lightness: -15%);
    }
    @else {
      background-color: color.adjust($color, $lightness: -15%);
    }
  }
  &:active {
    background-color: $color;
    color: $text-color;
  }
}

.basic-btn {
  @include button-style($primary-basic, $primary-text);
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.accent-btn {
  @include button-style($primary-accent, $secondary-text);
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;

  &:disabled {
    opacity: 0.5;
    &:hover {
      background-color: $primary-accent;
      cursor: default;
    }
  }
}

.text-btn {
  @include button-style($trans, $secondary-accent);
  border: none;
  font-weight: bold;
  cursor: pointer;
  &:disabled {
    color: color.adjust($primary-text, $lightness: 80%);
    cursor: default;
  }
}

.input-text {
  @extend .round-border;
  border: solid $primary-accent 1px;
  padding: 0.3rem 0.5rem;
}

.highlighted {
  background-color: $primary-accent;
  color: $secondary-text;
}

.basic {
  background-color: $primary-basic;
  color: $primary-text;
}

.title-regular {
  font-family: "Balsamiq Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.title-bold {
  font-family: "Balsamiq Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.text-regular {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
}

.text-bold {
  font-family: "Nunito", sans-serif;
  font-weight: 700;
}

