/* You can add global styles to this file, and also import other style files */

$primary-color: #3C6347;
$secondary-color: #82BD96;

$basic-color: #FFFFFF;
$basic-secondary-color: #e4ebe7;

$text-color: #000000;


